@import url('https://fonts.googleapis.com/css2?family=Gajraj+One&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jaro:opsz@6..72&family=Nova+Cut&family=Play:wght@400;700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  color: #4c5253;
  background-color: #f4f5f6;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  color: #101218;
}

@media screen and (max-width: 768px) {
  p, li {
    font-size: 14px;
  }
}

.bg-home-sec1 {
  background-image: url("/images/bg-home-header.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.bg-home-sec3 {
  background-image: url("/images/bg-home-sec-3.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.bg-home-sec5 {
  background-image: url("/images/bg-home-sec-5.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.en-flag {
  background: url("/images/flags.png") -116px -351px no-repeat;
}

.vi-flag {
  background: url("/images/flags.png") 0px -380px no-repeat;
}

.flag {
  display: inline-block;
  margin: 3px 5px 3px;
  width: 24px;
  height: 18px;
}

.bg-product-sec1 {
  background-image: url("/images/bg-product-sec-1.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: 0px -613px;
}

.bg-product-sec4 {
  background-image: url("/images/bg-product-sec-4.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.bg-projects-sec1 {
  background-image: url("/images/bg-projects-sec-1.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: 0px -253px;
}

.bg-banner-sec1 {
  background-image: url("/images/bg-banner-sec-1.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-banner-contact-us {
  background-image: url("/images/bg-banner-contact-us.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}